.overlay{
  position: fixed;
  display: none;     
  top: 0;       
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.531);
  justify-content: center;  
  align-items: center;
  z-index: 1000;          
}
.overlay.activo{
    display: flex;
}

.tarjeta-container{
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 400px;
  background-color: white;
  z-index: 1010;

  top: 50%;          
  left: 50%;          
  transform: translate(-50%, -50%);

  border-radius: 20px;
  box-shadow: 0 5px 5px rgb(49, 49, 49);
}
.tarjeta-container.activo{
    display: flex;
}
.tarjeta-form{
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}
.tarjeta-form h3{
    font-size: 1.5rem;
}
.shortTarjeta{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.tarjeta-form input, select{
    height: 40px;
    margin: 5px;
}
.tarjeta-form input:focus, select:focus{
    outline: none !important;
    border: 3px solid var(--secondary-color);
}
/*-----------------------VERFICAR FORM------------------------------*/
input.verificar,
select.verificar,
textarea.verificar {
  outline: none !important;
  border: 3px solid red;
}

.label-verificarDatos{
    display: none;
    color: red;
}
.label-verificarDatos.activo{
    display: block;
}
/*-----------------------------------------------------------------*/
.btn-procederPago{
    width: 70%;
    height: 40px;
    margin: 15px;
    align-self: center;
    border-radius: 20px;
    font-size: 1.3rem;
    color: white;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
}
.btn-procederPago:hover{
  background-color: rgb(103, 39, 39);
}

.msgPedido {
  position: fixed;
  font-size: 2.8rem;
  height: 200px;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--secondary-color);
  color: white;
  padding: 50px 30px;
  border-radius: 8px;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*---------------------------------RESPONSIVE------------------------------------------*/
@media (width < 650px) {
    .tarjeta-container{
        width: 350px;
        height: 500px;
    }
    .tarjeta-container h3{
        text-align: center;
    }
    .shortTarjeta{
        flex-wrap: wrap;
    }
    .shortTarjeta input, select{
        width: 40%;
    }
    .btn-procederPago{
        font-size: 1.1rem;
        height: 50px;
    }
    .msgPedido{
        height: 400px;
        width: 300px;
    }
}